*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
display: flex;
width: 100%;
justify-content:center;
align-items: center;
max-height: 88px;
background-color: rgb(10, 10, 10);
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    padding: 25px;
width: 100%;
height: 88px;

}
.navbar_logo{
    position: static;
    margin-left: 6px;
    font-size: 3rem;
    background-color: rgb(181, 37, 37);
    background-image: linear-gradient(to top, rgb(107, 42, 42) 10%, rgb(237, 9, 9) 90%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-text-fill-color:transparent;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
}
.navbar_menu{
    display: flex;
    justify-content:center;

    align-items: center;
    list-style: none;
    
}
.navabr_item{
    height: 88px;
}

.navbar_links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    padding: 0 1rem;
    /* margin: 5px auto; */
    height: 100%;
    color: white;
}

.navabr_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    

}
.button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
    padding: 0 2rem;
    text-decoration: none;
    color: antiquewhite;
    background: linear-gradient(to top, rgb(73, 25, 25) 10%,red 90%);
/* border: none; */
/* outline: none; */
border-radius: 1rem;

}

.button:hover{
    background: linear-gradient(to top, red 10% , rgb(73,25,25) 90%);
    transition: all .1s ease-in-out;

}
.navbar_links:hover{
    color: rgb(161, 129, 68);
}
.navbar_links:active{
    color: green;
}
.navbar_logo:hover{
    background-color: rgb(181, 37, 37);
    background-image: linear-gradient(to top, rgb(237, 9, 9) 10%, rgb(107, 42, 42) 90%);
    background-size: 100%;
}
@media screen and (max-width:980px) {
    .navbar_container{
        display: flex;
        justify-content: space-between;
        max-width: 1300px;
        width: 100%;
        z-index: 1;
        height: 88px;
    }
.navbar_menu{
    margin-top:220px ;
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    /* opacity: 0; */
    height: 50vh;
    z-index: -1;
    /* top: -1000px; */

}
.navbar_menu.active{
    top: 100%;
    opacity: 1;
    z-index: 99;
    transition: all .2s ease-in-out;
    height: 50vh;
    background-color: rgb(99, 36, 36);

}
.navbar_logo{
    padding-left:25px ;
    position: sticky;
    left: 350px;
}
.navbar_toggle .bar{
    width: 25px;
    height: 3px;
    align-items:center;
    color: rgb(12, 167, 154);
    transition: all .1s ease-in-out;
    background-color: red;

}}

/* main  */

.main{
    background-color:rgb(11, 11, 11);

}
.main_container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:1fr 1fr;
    height: 90vh;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 1;

}

.main_contant h1{
    font-size: 4rem;
    /* background-color: orange; */
    background-image: linear-gradient(to top , red 0%, rgb(205, 115, 36) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    color: whitesmoke;
}
.main_contant h2{
    font-size: 3rem;
    /* background-color: orange; */
    background-image: linear-gradient(to top , rgb(178, 50, 178) 0%, rgb(93, 48, 10) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    color: whitesmoke;
}

.main_contant p{
    color: wheat;
    margin: 1rem;
    font-weight: 700;
    font-size: 2rem;
    background-image: linear-gradient(to left,rgb(18, 106, 144) 20%, rgb(205, 106, 106) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;


}

.main_btn{
background-image: linear-gradient(to right, red 0%, rgb(61, 81, 61) 30%, rgb(137, 19, 19) 100%);
padding: 6px 12px;
font-size: 1rem;
border: none;
outline: none;
border-radius: 5px;
color:white;
margin-top: 2rem;
cursor:pointer;
position: relative;
transition: all .35s ease-in;

}
.main_btn a{
    color: white;
    text-decoration: none;
    z-index: 2;
    position: relative;
}
.main_btn::after{
color:wheat;
position: absolute;
background: blue;
transition: all .5s ease-in;
content: "";
top: 0;
left: 0;
width: 0;
height: 100%;
border-radius: 6px;
}

.main_btn:hover{
    color: wheat;
    padding: 8px 14px;
    transition: all .2s;
    
}
.main_btn:hover:after{
    width: 100%;
    /* background-color: blue; */
    
}
.main_img_container{
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}
#main_img{
    height: 70vh;
width: 80%;
border-radius: 7px;



}
#main_img:hover{
    height: 90vh;
    width: 90%;
    
}
@media screen and(max-width:760px){
.main_container{
    display: grid;
    grid-template-columns: auto;
    height: 90vh;
    width: 100%;
    justify-content:center;
    align-items: center;

}
.main_content h1{
    font-size: 2rem;
    margin-top: 2rem;
    
    }
    .main_content h2{
        font-size: 3rem;
    }
    .main_content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}


@media screen and (max-width:480px){
    
    .main_content h1{
    font-size: 1.5rem;
    margin-top: 3rem;
    
    }
    .main_content h2{
        font-size: 2rem;
    }
    .main_content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main_btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* service section */
.service{
 display: flex;   
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: black;
}
.service h1{
    background-color:rgba(182, 88, 88, 0.838) ;
    background-image: linear-gradient(to left,red 20%,rgb(162, 57, 57) 60%, rgb(120, 72, 72) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color:transparent;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}
.service_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.service_card{
    margin: 1rem;
    width: 480px;
    height: 525px;
    background-image:url("./tech image/pexels-soumil-kumar-735911.jpg");
 background-position: center;
 background-repeat: no-repeat;
 /* background-size:100% ; */
 background-size:cover ;
 position: relative;
}
.service_card:nth-child(2){

    margin: 1rem;
    width: 480px;
    height: 525px;
    background-image: linear-gradient(to top, rgb(31, 30, 30) 20% , rgb(107, 61, 61) 100%);
    background: url("./tech image/pexels-athena-2582937.jpg");
 background-position: center;
 background-repeat: no-repeat;
 /* background-size:100% ; */
 background-size:cover ;
 /* position: relative; */0

}

.service_card h2{
    position:absolute;
    top: 350px;
    left: 30px;
    color: rgb(187, 133, 62);

}

.service_card p{
    Position:absolute;
    top: 400px;
    left: 30px;
    color: aqua;

}
.service_card button {
    Position:absolute;
    top: 450px;
    left: 30px;
    background-color: red;
    font-size: 1rem;
    width: 120px;
    height: 25px;
    border-radius: 12px;
    outline: navy;
    border: none;
    cursor: pointer;
      }

      .service_card button:hover{
    background-color: greenyellow;
width: 130px;
height: 30px;
color: rgb(176, 46, 46);
font-size: 1.2rem;
      }
      
      @media screen and(max-width:960px){

        .service{
            height: 1600px;
        }
        .service h1{
            font-size: 2rem;
        

        }
        .service_card{
            width: 400px;
        }
      }

      @media screen and(max-width:460px){
        .service{
            height: 1400px;
            margin-top: 12px;
        }
        .service_card{
            font-size: 1.2rem;
        }
        .service h1{
            margin-top: 1rem;
        }

      }

      .footer_container{
        display: flex;
        flex-direction:column;
        background-color: rgb(16, 16, 17);
        padding: 12px;
        justify-content: center;
        align-items: center;
    
      }
      .footer_links{
        width: 100%;
        max-width: 1600px;
        display: flex;
        justify-content: center;
        

      }
      .footer_links_wrapper{
        display: flex; 
        padding-left: 23px;
      }
      .footer_links_items{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 20px;
        width: 150px;
        align-items:flex-start;
        text-align: left;
      }
      .footer_links_items a{
        text-decoration: none;
        margin: .3rem;
        color: rgb(144, 67, 67);
      }

      .footer_links_items > h1{
        font-size: 3rem;
        color: rgb(88, 133, 19);
      }
      .footer_links_items a:hover{
        background-color: rgb(146, 78, 78);
        color: rgb(222, 12, 134);
        font-size: 1.3rem;
      }
      .footer_links_items a:active{
        color: green;
      }

      
@media screen and (max-width:980px){
    .footer_links{
        padding-top: 2rem;
        display: flex;
    }

    .footer_links_wrapper{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:580px){

    .footer_links{
        padding: 1rem;
        display: flex;
        flex-direction:column;
    }

    
    .footer_links_wrapper{
        flex-direction:column;
        flex-wrap: wrap;
    }
}

.wrapper{
    color: rgb(128, 0, 107);
    background-color: #21d4fd;
    padding-left: 30px;
}